* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body {
    text-align: center;
    font-family: sans-serif;
    
}

/* Navegacion de arriba de todo */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    padding: 0 50px;
    background: #171717;
}

.mostrar-menu,
.esconder-menu{
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.navbar a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{

    background: #e91e63;
}
#check{
    display: none;
}

.menu {
    display: flex;
    margin-right: 10px;
}


.menu a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.menu a:hover {
    background: #e91e63;
}

/* RESPONSIVE */

@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #303030;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .navbar{
        right: 0;
    }
}

/* nombre e imagen y boton de reservar */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(imagenes/barber.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    margin-top:10px;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

/* TITULO DE HORARIOS */

#tiempo{
    margin: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    padding-bottom: 20px;
    color: #fff;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 3px 8px 2px black, 0 0 25px rgb(152, 152, 156), 0 0 5px rgb(99, 99, 110);

}

.horarios{
    color: #fff;
    text-align: left;
    font-size: 200%;
}

/* BOTONES */

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e91e63;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    background: #e91e63;
}

.btn:hover {
    background: none;
}

/* ABARCA CASI TODO */

.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FONDO DE HORARIOS */

.sau {
    height: 80vh;
    padding: 10vh;
    background: #303030;
}

/* FONDO DE BOTON DE MAPA */

.price {
    background: url(imagenes/barbershop.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

/* COMENTARIOS */

.about {
    background: #303030;
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #e91e63;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #e91e63;
    padding-top: 10px;
}

.box-container2 .box p {

    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #e91e63;
}

/* TEXTO DE COMENTARIOS */

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}


/* TRABAJOS fondo */

.contact {
    display: flex;
    height: 100%;
    padding: 50px 0;
    background: #171717;
}

/* NAVBAR */


@media (max-width: 768px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .f-enlaces {
        display: none;
    }

    .navbar {
        display: none;
    }
}

/* UBICACION titulo */

.como-llegar{
    color: white;
    font-size: 25px;
    margin-top: 55px;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 10px;
    text-shadow: 4px 6px 4px black, 0 0 25px rgb(23, 24, 22), 0 0 5px rgb(13, 14, 13);

}

/* COMO LLEGAR? titulo */

.como{
    background-color: rgb(27, 94, 218);
    height: 30%;
    border-radius: 30px;
    text-shadow: 2px 4px 2px black, 0 0 25px blue, 0 0 5px rgb(19, 18, 18);

}

/* BOTON DE UBICACION */

#ubi{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

/* IMAGENES */

.trabajos{
    display: inline-flex;
    justify-content: center;
    width: 420px;
    height: 330px;
    margin: 5px;
}

.mediana{
    height: 290px;
    width: 400px;
    margin: 5px;
}