/* pagina principal */
.logo{
  background-color: aliceblue;
  height: 80px;
  width: 140px;
  border-radius: 10px;
}

#log{
  color: black;
  text-align: center;
}

.reservar{
  width: fit-content;
  margin: 0 auto;
  border-bottom: 10px;
  border-radius: 8px;
  background-color: aqua;
}

#link{
  text-decoration: none;
  font-size: 20px;
}

a:hover .reservar {
  color: chartreuse;
}

/* Boton azul en pagina principal */
.btn-color-azul{
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 .btn-color-azul:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }

  /* RESERVAS */
 }
.ocupado{
  color: red;
  border-color: red;
  background-color: red;
}
/* TURNOS OCUPADOS */
